<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

	<head>
		<title>bbgram</title>
	</head>

	<body>
		<div class="topics-index-wrapper" layout:fragment="contents">
			<div class="container-fluid">
				<!--<div class="row p-form-top d-none d-lg-block d-xl-block d-xxl-block"></div>-->
				<div class="row">
					<div class="col-md-4">
						<div class="mypage-profile">
							<th:block th:if="${form == null}">
								<img src="/images/icons/pp.png" th:src="@{/images/icons/pp.png}">
							</th:block>
							<th:block th:unless="${form == null}">
								<img src="" th:if="${@environment.getProperty('image.local')}" th:src="${form.imageData}"
								 class="icon" />
							</th:block>
												
<!--<img src="/images/icons/pp.png" th:src="@{/images/icons/pp.png}">-->
								<a class="form-label text-black" "mypage-btn-perssonal">
									<a class="btn w-100 btn-outline-black text-white" href="/mypage/pic">画像設定</a>
								</a>
							<!--<input type="submit" value="登録" class="btn w-100 btn-outline-light" />
							<href="/mypage/pic">-->
						</div>
					</div>	
					<div class="col-md-4">
						<h1>個人データ</h1>
						<p class="border text-white">登録名: <span th:text="${user.name}" /> </p>
						<p class="border text-white">年齢: <span th:text="${user.age}" /></p>
						<p class="border text-white">活動拠点: <span th:text="${user.prefecture}" />
						<span th:text="${user.city}" /></p>
						<p class="border text-white">学生時代の野球経験: <span th:text="${user.experience}" /></p>
						<p class="border text-white">ポジション: <span th:text="${user.position}" /></p>
						<p class="border text-white">投打: <span th:text="${user.throwing}" />投
						<span th:text="${user.batting}" />打 </p>
						<p class="border text-white">コメント: <span th:text="${user.introduction}" /></p>
					</div> 
					<div class="col-md-4">
						<h1>所属チーム</h1>
						<p class="border text-white">チーム名:</p>
						<p class="border text-white">チームページへ</p>
						<a class="form-label text-black" "mypage-btn-perssonal">
							<a class="btn w-100 btn-outline-black text-white" th:href="@{/teampage/new}">チーム編集</a>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>