<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<title>bbgram</title>
</head>

<body>
	<div class="mb-new-wrapper" layout:fragment="contents">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-3">
					<a class="btn w-100 btn-outline-light" th:href="@{/matchboard/new}">新規募集する</a>
				</div>

				<div class="panel panel-black">
					<div class="panel-heading">
						<h2 class="panel-title text-white">対戦相手募集一覧</h2>
					</div>
				</div>
				<ul class="list-group">
					<th:block th:each="game : ${matchboards}">
						<li class="list-group-item end">
							<a th:href="@{matchboard/{Id}(Id =${game.id})}"><span th:text="${game.title}" /></a>
						</li>
						<div class="dateInfo">
							<p class="border text-white">試合日時;<span th:text="${game.dateandtime}" /></p>
							<p class="border text-white">エリア;<span th:text="${game.prefecture}" /></p>
							<p class="border text-white">グラウンド:<span th:text="${game.ground}" /></p>
						</div>
					</th:block>
				</ul>
			</div>
		</div>
	</div>				
</body>

</html>