<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<title>Bbgram</title>
</head>

<body>
	<div class="users-new-wrapper" layout:fragment="contents">
		<div class="container-fluid">
			<div class="row p-form-top d-none d-lg-block d-xl-block d-xxl-block"></div>
			<div class="row">
				<main class="col-md-4 mx-auto">
					<h1 class="text-center text-white">Sign in</h1>
					<form method="post" th:action="@{/user}" th:object="${form}">
						<div layout:replace="~{layouts/common::messages}"></div>
						<div class="mb-3">
							<label class="form-label text-white" for="user_username">メールアドレス</label>
							<input type="text" class="form-control" name="username" value="hideless1@gmail.com"/>
							<p th:if="${#fields.hasErrors('username')}" class="error-message" th:errors="*{username}" ></p>
						</div>
						<div class="mb-3">
							<label class="form-label text-white" for="user_password">パスワード</label>
							<input class="form-control" type="password" name="password" value="h0d8f1m5"/>
							<p th:if="${#fields.hasErrors('password')}" class="error-message" th:errors="*{password}" ></p>
						</div>
						<div class="mb-3">
							<label class="form-label text-white" for="user_password_confirmation">パスワード
								(確認用)</label>
							<input type="password" class="form-control" name="passwordConfirmation" value="h0d8f1m5" />
							<p th:if="${#fields.hasErrors('passwordConfirmation')}" class="error-message"
								th:errors="*{passwordConfirmation}"></p>
						</div>
						<div class="mb-3">
							<label class="form-label text-white" for="user_tel">電話番号</label>
							<input type="text" class="form-control" name="tel" value="080-4690-3068" />
							<p th:if="${#fields.hasErrors('tel')}" class="error-message" th:errors="*{tel}"></p>
						</div>
						<div class="mb-3">
							<label class="form-label text-white" for="user_name">登録名</label>
							<input type="text" class="form-control" name="name" value="ヒデ" />
							<p th:if="${#fields.hasErrors('name')}" class="error-message" th:errors="*{name}"></p>
						</div>
						<div class="mb-3">
							<label class="form-label text-white" for="user_age">年齢</label>
							<input type="text" class="form-control" name="age" value="30" />
							<p th:if="${#fields.hasErrors('age')}" class="error-message" th:errors="*{age}"></p>
						</div>
						<div class="mb-3">
							<label class="form-label text-white" for="user_age">生年月日(西暦)　例:1990年10月12日→19901012</label>
							<input type="text" class="form-control" name="birthDate" value="19940111" />
							<p th:if="${#fields.hasErrors('birthDate')}" class="error-message" th:errors="*{birthDate}"></p>
						</div>
						<div class="row">
							<div class="col">
								<label class="form-label text-white" >活動拠点</label>
							</div>
							<div class="col">
								<label class="form-label text-white" for="prefecture">都道府県</label>
								<input type="text" class="form-control" id="prefecture" name="prefecture" 
								value="福岡県" />
							</div>
							<div class="col">
								<label class="form-label text-white" for="user_city">市・区</label>
								<input type="text" class="form-control" id="user_city" name="city" value="福岡市" />
							</div>
						</div>

						<div class="mb-3">
							<label class="form-label text-white" for="user_experience">学生時代の野球経験</label>
							<input type="text" class="form-control" name="experience" value="中学"/>
							<p th:if="${#fields.hasErrors('experience')}" class="error-message" th:errors="*{experience}"></p>	
						</div>
						
						<div class="mb-3">
							<label class="form-label text-white" for="user_position">ポジション</label>
							<input type="text" class="form-control" name="position" value="内野(ショート以外なら可),外野"/>
							<p th:if="${#fields.hasErrors('name')}" class="error-message" th:errors="*{position}"></p>	
						</div>
						
						<div class="row">
							<div class="col">
								<label class="form-label text-white" >投打</label>
							</div>
							<div class="col">
								<label class="form-label text-white" for="user_throwing">投</label>
								<input type="text" class="form-control" id="user_throwing" name="throwing"value="右" />
							</div>
							<div class="col">
								<label class="form-label text-white" for="user_batting">打</label>
								<input type="text" class="form-control" id="user_batting" name="batting" value="左"/>
							</div>
							<div class="mb-3">
								<label class="form-label text-white" for="user_introduction">自己PR</label>
								<input type="text" class="form-control" name="introduction" 
								value="よろしくお願いします。"/>
							</div>
						</div>
						
						<input type="submit" value="登録" class="btn w-100 btn-outline-light" />
					</form>
				</main>
			</div>
		</div>
	</div>
</body>

</html>